---
layout: default
---

{%- assign raw_parts = page.content | split: '<!--split-->' -%}

{%- assign part1 = raw_parts[0] | default: "" -%}
{%- assign part2 = raw_parts[1] | default: "" -%}
{%- assign part3 = raw_parts[2] | default: "" -%}

<div class="post">

  <article>
    <h1> Research summary </h1>
    {{part1 | markdownify}}

    <h2> Research interests </h2>
    {{part2 | markdownify}}

    <hr>
    <!-- News -->
    {% if page.announcements and page.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">News</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if page.latest_posts and page.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    {% if site.newsletter and site.newsletter.enabled and site.footer_fixed %}
      {% include newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>

